@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "./variables";

@mixin flexCentering($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-primary;
  background-color: $color-white;
}

.header {
  position: fixed;
  width: 100%;
  height: 8rem;
  &_inner {
    @include flexCentering();
    position: relative;
    height: 100%;
  }
  &_logo {
    color: $color-primary;
    font-family: $font-family-secondary;
    font-size: 2.5rem;
    font-weight: 700;
  }

  .hamburger_menu {
    background-color: $color-secondary;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 8rem;
    width: 8rem;

    .hamberger {
      height: 100%;
      width: 100%;
      position: relative;
      .icon span {
        display: block;
        position: absolute;
        width: 47px;
        right: 15px;
        border-bottom: $color-white solid 2px;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s;
      }
      .icon span:nth-child(1) {
        top: 25px;
      }
      .icon span:nth-child(2) {
        top: 39px;
      }
      .icon span:nth-child(3) {
        bottom: 25px;
      }
    }
  }
}
